*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.jumbotron-fluid{
    color: rgb(26, 29, 26);
    font-size: 1.2rem;
    font-weight: bolder;
    font-family: monospace;
    text-transform: uppercase;
    text-align: center;
    backface-visibility: hidden;
    /* text-shadow: 3px 3px 3px rgba(245, 245, 245, 0.653); */
   
   
}
#grad{
  
    color: black;
    background-color: rgba(248, 248, 248, 0.578);
    border:none;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    text-align: center;
    font-size: large;
    border-color: rgba(255, 235, 205, 0.674);
    
}
#ispis{
    background-color: rgba(252, 237, 237, 0.661);
    
}



#wrap{
    width: 99vw;
    min-height: 100vh;
      background-attachment:fixed ;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url("assets/beautiful-sunny-weather--green_1366x768.png") ;
      position: relative;
      z-index: 3;
      color: white;
    
    
}

.container{
    width: 90vw;
    height: 90vh;
overflow: hidden;

}

#dugme{
    color: rgb(226, 233, 226);
  
   
    backface-visibility: hidden;
    background: none;
    
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
}

#ispis2{
    width: 99vw ;
    min-height: 10vh;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.6);
    margin-left: 2vw;
    /* backface-visibility: hidden; */
    justify-content: stretch; 
    font-size: 0.9rem;
    text-transform: uppercase;
    align-content: center;
    align-items: center;
    font-family: monospace;
    padding: 15px;
   margin-bottom: 6vh;
    display: flex;
    background-color: rgba(222, 184, 135, 0.266);
    /* text-shadow: 3px 3px 3px rgba(14, 13, 13, 0.653); */
    
}

#ispis2 p{
    font-weight: bolder;
    font-size: 1.05rem;
    padding: 10px;
    margin: 5px;
     
    box-shadow: 1px 0px 0px rgba(49, 48, 48, 0.728);
}
.icon-box{
    min-width: 15vw ;
    min-height: 30vh;
    box-shadow: 15px 10px 15px rgba(0, 0, 0, 0.4);
    margin-bottom: 2vh; margin-left: 1vw;
   background-color: rgba(77, 76, 76, 0.661);
    justify-content: space-around;
    font-size: 0.9rem;
    align-content: center;
    align-items: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.796);
    text-align: center;
    z-index: 1;

}
.icon-box > p > img {
    width: 3vh;
    height: 3vh;
}
.icon-box>p:first-child{
    margin-bottom: 2vh;
    text-underline-position: above;
}
.icon-box>p:nth-child(3){
    color: rgb(209, 18, 18);
    font-weight: 1000;

}
.icon-box:hover{
    min-width: 15vw;
    min-height: 40vh;
    box-shadow:15px 10px 15px 10px rgba(22, 23, 22,0.5); 
    font-size: 1rem;
    z-index: 2;
    text-shadow: 3px 3px 3px rgba(19, 18, 18, 0.877);
    
}




